*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
*.swp
*.bak
~$*

# python virtual env
venv/
.env/
.venv/
env/
ENV/
pythonenv/

# data-set and models
data/raw/
data/processed/
checkpoints/
*.pth
*.pt
*.bin
*.h5

# logs and reports
logs/
*.log
mlruns/
wandb/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# secret files
*.env
*.secret
config_secret.py
credentials.json

# scripts by-product
*.csv
*.tsv
*.jsonl
*.feather
*.parquet

# doc
_build/
docs/_build/